.panda-button {
    color: white;
    background-color: #ff136f;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.carousel-bc {
    background-color: #fceae8;
}

/* header{
    margin-top: 100px;
} */

